@import "~src/styles/_vars";

.table-container {
  padding-top: 20px;

  .mat-header-cell {
    font-size: 16px;
    color: $TEXT_COLOR;
  }

  .mat-row {
    border-top: 1px solid $BORDER_COLOR;
    border-bottom: 1px solid $BORDER_COLOR;
    cursor: pointer;

    &:nth-child(even) {
      background: $GRAY;
    }
  }

  .mat-cell,
  .mat-header-cell {
    padding-right: 0;
    margin-right: 30px;
  }

  .mat-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;
    box-sizing: border-box;
  }
}
